html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 640px;
  padding: 15px;
  height: 100%;
  margin: 0 auto;
}

.btn-link {
	font-weight: 400;
	color: #007bff;
	background-color: transparent
}

.btn-link:hover {
	color: #0056b3;
	background-color: transparent;
	border-color: transparent
}

.btn-circle.btn-lg {
  text-align: center;
  
  width: 80px;
  height: 80px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  margin:0 auto;
  
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  border-radius: 10px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
