<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', path='apple-touch-icon.png') }}"/>
    <link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/signin.css') }}" rel="stylesheet">
    <title>Device Not Supported</title>
  </head>

  <body class="text-center">
    <form class="form-signin" action="https://forms.gle/8SHEoRewVRJBiiGY7" method="get">
      <h1 class="h3 mb-3 font-weight-normal">Device not Supported</h1>
      <p>OC Mobile ID is currently only compatible with iPhone. To request future support for your device, click the button below.</p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Request Device Support</button>
      <br><br>
      <a href='team'><p class="mt-5 mb-3 text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Oklahoma Christian University</p></a>
    </form>
  </body>
</html>
