<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', path='apple-touch-icon.png') }}"/>
    <link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/team.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'> 
    <title>The MOBIL-ID Team</title>
  </head>

  <body class="text-center">
    <div class="container">
      <img class="mb-2" src="{{ url_for('static', path='team/mobil-id-dark.png') }}" alt="" height="50" draggable="false" onContextMenu="return false;">
      <p class="lead mb-5">The MOBIL-ID project is an engineering systems capstone project for Oklahoma Christian University. The team’s mission statement is to create a mobile platform front-end to Oklahoma Christian University’s student management system. Students and Faculty will use their mobile ID to gain chapel attendance, enter the university cafeteria, and pay using Eagle Bucks.</p>

      <div class="card-deck mb-4 text-center">
        <!-- Person -->
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img src="{{ url_for('static', path='team/andrew.jpg') }}" alt="Andrew Siemer" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" draggable="false" onContextMenu="return false;">
            <h5 class="mb-0">Andrew Siemer</h5>
            <span class="small text-uppercase text-muted">Electrical & Software Engineer</span><br> <span class="small text-uppercase text-muted font-weight-bold">Team Lead</span>
          </div>
        </div>

        <!-- Person -->
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img src="{{ url_for('static', path='team/kyla.jpg') }}" alt="Kyla Tarpey" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" draggable="false" onContextMenu="return false;">
            <h5 class="mb-0">Kyla Tarpey</h5>
            <span class="small text-uppercase text-muted">Electrical Engineer</span>
          </div>
        </div>

        <!-- Person -->
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img src="{{ url_for('static', path='team/jacob.jpg') }}" alt="Jacob Button" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" draggable="false" onContextMenu="return false;">
            <h5 class="mb-0">Jacob Button</h5>
            <span class="small text-uppercase text-muted">Electrical & Software Engineer</span>
          </div>
        </div>

        <!-- Person -->
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <img src="{{ url_for('static', path='team/zach.jpg') }}" alt="Zach Jones" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" draggable="false" onContextMenu="return false;">
            <h5 class="mb-0">Zach Jones</h5>
            <span class="small text-uppercase text-muted">Computer Engineer</span>
          </div>
        </div>

      </div>

      <div class="text-center mb-4">
        <p class="mb-3"><a href="/">Return to Home</a></p>
      </div>

      <p class="mt-5 mb-3 text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Oklahoma Christian University</p><br>
    </div>
  </body>
</html>
